<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IConsents" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IDuplexus" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63165/Services/Duplexus.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IDuplexus"
                contract="SoapDuplexus.IDuplexus" name="WSDualHttpBinding_IDuplexus">
                <identity>
                    <userPrincipalName value="kwitkowski@ib.ad" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:63165/Services/Consents.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConsents"
                contract="SoapConsents.IConsents" name="BasicHttpBinding_IConsents" />
        </client>
    </system.serviceModel>
</configuration>