<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IConsents" />
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IDuplexus" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:63165/Services/Duplexus.svc"
                binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IDuplexus"
                contract="SoapDuplexus.IDuplexus" name="WSDualHttpBinding_IDuplexus">
      </endpoint>
      <endpoint address="http://localhost:63165/Services/Consents.svc"
                behaviorConfiguration="HeadersBehavior"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IConsents"
                contract="SoapConsents.IConsents"
                name="BasicHttpBinding_IConsents" />
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior name="HeadersBehavior">
          <headerBehaviorExtension/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="headerBehaviorExtension" type="Wucefus.TestApp.Inspectors.CustomHeaderBehavior, Wucefus.TestApp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>

  </system.serviceModel>
</configuration>